[Desktop Entry]
Version=${version}
Type=Application
Name=${name}
GenericName=Fire History Analysis and Exploration Software
TryExec=fhaes
Exec=fhaes
Icon=/usr/share/pixmaps/fhaes-application.png
Terminal=false
Categories=Utility;Science